$colorFacebook:#3b5998;
$colorGoogle:#F0F0F0;
$colorEvento:#EC1B1B;
$colorEvento2:#FFACAC;
$colorEventoClaro:#FFEBEB;
$colorArtista:#2000FF;
$colorArtista2:#0000FF;
$colorArtistaClaro:#E1F6FE;
$colorLocalClaro:#E9FBE9;
$colorLocal:#00B715;
$colorLocal2:#C6F7C6;
$colorFavoritos:#FF8000;
$colorBtnOnthestage:#B7D4E1;

$colorGris:#A0A0A0;
$colorGrisClaro:#EDEDED;
$colorGrisMuyClaro:#F7F7F7;


$colorPrimary:#3F51B5;
$colorPrimaryDark:#303F9F;
$colorAccent:#EC1B1B;
$colorFondo:#EDFDFE;
$colorFacebook:#4267B2;
$colorBtnOnthestage:#B7D4E1;
$colorTexto:#343b3f;
$colorFormOk:#A4C639;
$colorFormWrong:#FF0000;
$colorDisabled:#C8C5C4;
$colorHeader:#004553;
$colorFondoNick:#23266A;
$colorFondoViewPager:#999999;
$colorFondoSignup:#064E5D;
$fondoTitulo:#E4F7F9;
$checkDisabled:#757676;
$colorMes:#F0420A;
$colorNegro:#000000;
$colorBlanco:#FFFFFF;
$colorFavoritos:#FF8000;
$colorBusquedas:#4267B2;
$colorDisabledAlpha:#004267B2;
$colorDescripcion:#FFF;
$colorSearchBar:#F3F3F3;
$colorArtista:#2000FF;
$colorArtistaClaro:#E1F6FE;
$colorEvento:#EC1B1B;
$colorEvento2:#FFACAC;
$colorEventoClaro:#FFEBEB;
$colorLocal:#00B715;
$colorLocal2:#C6F7C6;
$colorLocalClaro:#E9FBE9;
$colorLocalMuyClaro:#E5FAE4;
$colorGris:#A0A0A0;
$colorGrisClaro:#EDEDED;
$colorGrisMuyClaro:#F7F7F7;
$colorFondoImagenes:#FDFDFD;
$colorFondoMenuInferior:#F1F1F1;

$colorGrisBorde:#CCCCCC;

$colorMes:#F0420A;

$color: #FF0000;
$colorFondoToolbar: #3f51b5;
$colorNegro:#000000;

$alturaToolbar:7vh;
$alturaBody:93vh;

$tamanyoFuenteDefault: 1em;
$colorFuenteDefault: #FFDDDD;