img{
    height: 100%;
    margin: 0 auto;
}

.mi-carousel{
    height: 27vh;
    text-align: center;
    width: 100%;
  background-color: #BBB;
/*       padding:10px; */
 /*      border:1px solid gray;
   border-radius: 4px; */
}

.text1{
    color: red;
}

.text2{
    color:blue;
}